[submodule "SwordAndPistolVR"]
	path = SwordAndPistolVR
	url = C:\\Users\\andre\\Documents\\My New One Drive\\OneDrive - Universidad de los Andes\\2021-02\\Realidad\\Unity\\New folder\\SwordAndPistolVR
[submodule "testtt"]
	path = testtt
	url = ./
